{% extends "base_generic.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>

    {% for message in messages %}
        {% if 'success' in message.tags %}
            <script>
                alert('{{ message }}');
            </script>
        {% endif %}
    {% endfor %}

    {{ form.media }}

{%  endblock %}