{% extends "base_generic.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <h2 class="fstyle">Sales Objectives Applicaction</h2>
    <h4 class="fstyle">Want to start using Sobapp? <a href="{% url 'contact_us' %}">Click here!</a></h4>

    <div class="fstyle">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="form-group">
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div class="form-group">
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>

            <div>
                <input type="submit" class="btn btn-dark" value="Login"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
        <br>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

{% endblock %}