{% extends "base_generic.html" %}

{% block content %}
    <h1>Company Information</h1>

    <br><br>

    <form action="/company_information/" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Company Data</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ form.name.label_tag }}</th>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.address.label_tag }}</th>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.phone.label_tag }}</th>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.email.label_tag }}</th>
                    <td>{{ form.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <input class="btn btn-dark confirm-save" type="submit" value="Save">
    </form>
{% endblock %}