{% extends "base_generic.html" %}

{% block content %}
    <h1>Create Customer</h1>

    <br><br>
    <form action="/create_customer/" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.seller.label_tag }}</td>
                    <td>{{ form.seller }}</td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.identification.label_tag }}</td>
                    <td>{{ form.identification }}</td>
                </tr>
                <tr>
                    <td>{{ form.address.label_tag }}</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        <input class="btn btn-dark confirm-save" type="submit" value="Save" />
    </form>
    {% if error_message %}
        <script>
            alert('{{ error_message }}');
        </script>
    {% endif %}
    {{ form.media }}
{% endblock %}