{% extends "base_generic.html" %}

{% block content %}

    <h1>Customer Edit Page</h1>

    <br><br>

    <form action="/customers/{{ pk }}" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.seller.label_tag }}</td>
                    <td>{{ form.seller }}</td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.identification.label_tag }}</td>
                    <td>{{ form.identification }}</td>
                </tr>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.address.label_tag }}</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        <input class="btn btn-dark confirm-save" type="submit" value="Save">
        <br/><br/>
        <input class="btn btn-danger confirm-delete" type="button" onclick="window.location.href = '{% url 'customer_delete' pk %}';" value="Delete"/>
        <br>
    </form>
    {{ form.media }}
{% endblock %}