{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}

    <h1>Customers List</h1>

    <br><br>

    <form action="/seller_customers/" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <br><br>
        <input class="btn btn-dark" type="submit" value="Search" />
    </form>
    <br>
    {% if seller_customers_list %}
        <div class="table-responsive">
            <table class="table">
                {#        <table border="1" border-collapse="collapse" width="auto">#}
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Identification</strong></td>
                    <td><strong>Seller</strong></td>
                    <td><strong>Address</strong></td>
                    <td><strong>Phone</strong></td>
                    <td><strong>Email</strong></td>
                    <td><strong>Created At</strong></td>
                    <td><strong>Status</strong></td>
                </tr>
                {% for customer in seller_customers_list %}
                    <tr>
                        <td><a href="{{ customer.get_absolute_url }}"> {{ customer.name }} </a></td>
                        <td>{{ customer.identification }}</td>
                        <td>{{ customer.seller }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.created_at }}</td>
                        {% if customer.is_deleted is True %}
                            <td>Inactive</td>
                        {% else %}
                            <td>Active</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}