/*.sidebar-nav {*/
/*    margin-top: 20px;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

li {
    list-style: none;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

td {
    padding: 5px;
}

#resp-table {
    width: 100%;
    display: table;
}

#resp-table-caption{
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#resp-table-header{
    display: table-header-group;
    background-color: lightgrey;
    font-weight: bold;
    font-size: 15px;
}

.table-header-cell{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

#resp-table-body{
    display: table-row-group;
}

.resp-table-row{
    display: table-row;
}

.table-body-cell{
    display: table-cell;
}

#resp-table-footer {
    display: table-footer-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.45);
}

.table-footer-cell{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.fstyle
{
    margin-left: 5%;
    margin-top: 5%;
}