{% extends "base_generic.html" %}

{% block content %}

    <h1>Sales Registry Page</h1>

    <br><br>

    <form action="/sales_register/" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.seller.label_tag }}</td>
                    <td>{{ form.seller }}</td>
                </tr>
                <tr>
                    <td>{{ form.customer.label_tag }}</td>
                    <td style="vertical-align: middle">{{ form.customer }} <a style="vertical-align: middle" href="{% url 'create_customer' %}"><i style="font-size: 30px; color: dimgray" class="far fa-plus-square"></i></a></td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.reference.label_tag }}</td>
                    <td>{{ form.reference }}</td>
                </tr>
                <tr>
                    <td>{{ form.amount.label_tag }}</td>
                    <td>{{ form.amount }}</td>
                </tr>
                <tr>
                    <td>{{ form.sale_date.label_tag }}</td>
                    <td>{{ form.sale_date }}</td>
                </tr>
            </table>
        </div>
        <br>
        <input class="btn btn-dark confirm-save" type="submit" value="Save" />
    </form>
    {{ form.media }}
{% endblock %}