{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}

    <h1>Sales Listing Page</h1>

    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>

    {% if request.user.is_seller %}
        <p><strong>Your sales count is: {{ sales_count }} </strong></p>
        <p><strong>Your sales sum amount is: {{ sales_amount|intcomma }}</strong></p>
        <br>
    {% endif %}


    <form action="/sales/" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <br><br>
        <input type="submit" value="Search" />
    </form>

    <br>

    {% if sales_list %}
        <div class="table-responsive">
{#            <table border="1" border-collapse="collapse">#}
            <table class="table">
                <tr>
                    <td><strong>Reference</strong></td>
                    <td><strong>Customer</strong></td>
                    <td><strong>Amount</strong></td>
                    <td><strong>Date</strong></td>
                    <td><strong>Seller</strong></td>
                    <td><strong>Delete</strong></td>
                </tr>
                {% for sale in sales_list %}
                    <tr>
                        <td> <a href="{{ sale.get_absolute_url }}"> {{ sale.reference }} </a></td>
                        <td>{{ sale.customer }}</td>
                        <td>{{ sale.amount|intcomma }}</td>
                        <td>{{ sale.sale_date }}</td>
                        <td>{{ sale.seller }}</td>
                        <td align="center"><a class="confirm-delete" href="{% url 'sale_delete' sale.id %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}



{% endblock %}

