{% extends "base_generic.html" %}

{% block content %}

    <h1 align="middle">Edit Sale</h1>
    <br><br>

    <form action="/sales/{{ pk }}" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.seller.label_tag }}</td>
                    <td>{{ form.seller }}</td>
                </tr>
                <tr>
                    <td>{{ form.customer.label_tag }}</td>
                    <td>{{ form.customer }}</td>
                </tr>
                <tr>
                    <td>{{ form.reference.label_tag }}</td>
                    <td>{{ form.reference }}</td>
                </tr>
                <tr>
                    <td>{{ form.amount.label_tag }}</td>
                    <td>{{ form.amount }}</td>
                </tr>
                <tr>
                    <td>{{ form.sale_date.label_tag }}</td>
                    <td>{{ form.sale_date }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        <input class="btn btn-dark confirm-save" type="submit" value="Save">
        <br/><br/>
        <input class="btn btn-danger confirm-delete" type="button" onclick="window.location.href = '{% url 'sale_delete' pk %}';" value="Delete"/>
        <br>
    </form>
    {{ form.media }}
{% endblock %}