{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}

    <h1>Sales Objective List Page</h1>
    <br><br>

    <div>
        <form action="/sales_objective_history" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <br><br>
            <input type="submit" class="btn btn-dark" value="Search"/>
        </form>
    </div>
    <br/>

    {% if sales_objective_list %}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Seller</th>
                    <th>Created by</th>
                    <th>Sale Objective</th>
                    <th>Sales Amount</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Created At</th>
                    <th>Is Active</th>
                    {% if request.user.is_supervisor %}
                        <th>Delete</th>
                    {% endif %}
                </tr>
                {% for sales_objective in sales_objective_list %}
                    <tr>
                        <td scope="row">{{ sales_objective.seller }}</td>
                        <td>{{ sales_objective.supervisor }}</td>
                        {% if request.user.is_supervisor %}
                            <td>
                                <a href="{{ sales_objective.get_absolute_url }}">{{ sales_objective.sale_objective|intcomma }}</a>
                            </td>
                        {% else %}
                            <td>{{ sales_objective.sale_objective|intcomma }}</td>
                        {% endif %}
                        <td>{{ sales_objective.sales_amount|intcomma }}</td>
                        <td>{{ sales_objective.date_from }}</td>
                        <td>{{ sales_objective.date_to }}</td>
                        <td>{{ sales_objective.created_at }}</td>
                        {% if sales_objective.is_deleted %}
                            <td align="center">No</td>
                        {% else %}
                            <td align="center">Yes</td>
                        {% endif %}
                        {% if request.user.is_supervisor %}
                            <td align="center"><a class="confirm-delete"
                                                  href="{% url 'sales-objective-delete' sales_objective.id %}"><i
                                    style="font-size: 18px" class="far fa-trash-alt"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

{% endblock %}