{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}
    <h1>Create Sales Objective</h1>
    <br><br>

    <form action="/sales_objective_create/" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">{{ form.seller.label_tag }}</th>
                    <td>{{ form.seller }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.sale_objective.label_tag }}</th>
                    <td>{{ form.sale_objective }} {% if form.errors %} {{ form.sale_objective.errors }} {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.date_from.label_tag }}</th>
                    <td>{{ form.date_from }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.date_to.label_tag }}</th>
                    <td>{{ form.date_to }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.supervisor.label_tag }}</th>
                    <td>{{ form.supervisor }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <input class="btn btn-dark confirm-save" type="submit" value="Save" />
    </form>
    {% if error_message %}
        <script>
            alert('{{ error_message }}');
        </script>
    {% endif %}
    {{ form.media }}
{% endblock %}