{% extends "base_generic.html" %}

{#{% block content %}#}
{##}
{#    <h1>Sales Objective Edit Page</h1>#}
{##}
{#    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>#}
{##}
{#    <form action="/sales_objectives/{{ pk }}" method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form.as_table }}#}
{##}
{#        <table>#}
{#            <tr>#}
{#                <td>{{ form.seller.label_tag }}</td>#}
{#                <td>{{ form.seller }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.customer.label_tag }}</td>#}
{#                <td>{{ form.customer }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.reference.label_tag }}</td>#}
{#                <td>{{ form.reference }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.amount.label_tag }}</td>#}
{#                <td>{{ form.amount }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.sale_date.label_tag }}</td>#}
{#                <td>{{ form.sale_date }}</td>#}
{#            </tr>#}
{#        </table>#}
{#        <br><br>#}
{#        <input class="confirm-save" type="submit" value="Save">#}
{#    </form>#}
{#    {{ form.media }}#}
{#{% endblock %}#}


{% block content %}
    {% load humanize %}
    <h1>Sales Objective Edit Page</h1>

    <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p>{{ request.user.company.id }}</p>

    <form action="/sales_objectives/{{ pk }}" method="POST">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ form.seller.label_tag }}</th>
                    <td>{{ form.seller }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.sale_objective.label_tag }}</th>
                    <td>{{ form.sale_objective }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.date_from.label_tag }}</th>
                    <td>{{ form.date_from }}</td>
                </tr>
                <tr>
                    <th scope="row">{{ form.date_to.label_tag }}</th>
                    <td>{{ form.date_to }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <input class="confirm-save" type="submit" value="Save">
        <br/><br/>
        <input class="confirm-delete" type="button" onclick="window.location.href = '{% url 'sales-objective-delete' pk %}';" value="Delete"/>
        <br>
    </form>
    {{ form.media }}
{% endblock %}