<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>SobApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    {# Bootstrap date picker#}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    {# Bootstrap date picker#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/a09892cc27.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1500px}

        body {
            font-family: 'Lato';
            font-size: 16px;
        }


        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #848fa1;/*#bec4d4;*/
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        .sidenav h5
        {
            color: #555;
            font-family: 'Lato',
            sans-serif; font-size: 40px;
            font-weight: 300;
            line-height: 58px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .panel-heading a
        {
            text-decoration: none;
            font-size: 16px;
        }

        li a
        {
            font-size: 16px;
        }

        .headerbar
        {
            text-transform: uppercase;
            margin-top: 10px;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .mymenu
        {
            color: #FFFFFF;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #454745;
            color: white;
            text-align: center;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height: auto;}
        }
    </style>
</head>
<body style="overflow: hidden">

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <img src="{% static 'img/logo_transparent.png' %}" alt="SobApp" width="auto" height="auto" class="center img-fluid">
            <ul class="nav nav-pills nav-stacked">
                {% if user.is_authenticated %}
                    <li><a class="mymenu" href="{% url 'index' %}">Home</a></li>
                    <li><a class="mymenu" href="{% url 'user_profile' user.id %}" >My Profile</a></li>
                    {% if user.is_companyadmin %}
                        <li><a class="mymenu" href="{% url 'company_information' %}">Company Information</a></li>
                    {% endif %}
                    <hr>
                {% else %}
                    <li class="active"><a class="mymenu" href="{% url 'login'%}">Login</a></li>
                {% endif %}
                {% if request.user.is_seller %}
                    <li>
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSalesSeller">
                                        Sales
                                    </a>
                                </div>
                                <div id="collapseSalesSeller" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'sales_register' %}">Register</a></li>
                                            <li><a href="{% url 'sales' %}">List</a></li>
                                            <li><a href="{% url 'sales_objective_history' %}">Sales Objectives</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="panel-group" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseCustomersSeller">
                                        Customers
                                    </a>
                                </div>
                                <div id="collapseCustomersSeller" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'create_customer' %}">Create</a></li>
                                            <li><a href="{% url 'seller_customers' %}">List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% elif request.user.is_supervisor %}
                    <li>
                        <div class="panel-group" id="accordion3">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapseUsers">
                                        Users
                                    </a>
                                </div>
                                <div id="collapseUsers" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'sellers_overview' %}">Sellers</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="panel-group" id="accordion4">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion4" href="#collapseCustomers">
                                        Customers
                                    </a>
                                </div>
                                <div id="collapseCustomers" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'create_customer' %}">Create</a></li>
                                            <li><a href="{% url 'seller_customers' %}">List</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="panel-group" id="accordion5">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion5" href="#collapseSales">
                                        Sales
                                    </a>
                                </div>
                                <div id="collapseSales" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'sales' %}">List</a></li>
                                            <li><a href="{% url 'sales_objective_create' %}">Assign Sales Objective</a></li>
                                            <li><a href="{% url 'sales_objective_history' %}">Sales Objective History</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% elif request.user.is_companyadmin %}
                    <li>
                        <div class="panel-group" id="accordion6">
                            <div class="panel panel-default">
                                <div class="panel-heading nav-pills">
                                    <a data-toggle="collapse" data-parent="#accordion6" href="#collapseUsersCAdmin">
                                        Users
                                    </a>
                                </div>
                                <div id="collapseUsersCAdmin" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul style="list-style: none; padding-left: 10px">
                                            <li><a href="{% url 'sellers_overview' %}">Sellers</a></li>
                                            <li><a href="{% url 'supervisors_overview' %}">Supervisors</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul><br>
        </div>

        <div class="col-sm-9">
            {% if user.is_authenticated %}
                <div class="headerbar">
                    <h4><small>{{ user.company }} | {{ user.email }} | Last login: {{ user.last_login }}</small></h4>
                    <a style="text-decoration: none" href="{% url 'logout'%}">Logout</a>
                    <hr>
                </div>
            {% endif %}
            <div style="margin-top: 3%">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div style="text-align: center">
        <p><small>SALES OBJECTIVES MANAGEMENT APPLICATION</small></p>
        <p><small>JUAN CARLOS NUQUES SELLERS</small></p>
        <p><small>2019</small></p>
    </div>
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

</body>
</html>
