<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Bootstrap date picker#}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    {# Bootstrap date picker#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/a09892cc27.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    {% if user.is_authenticated %}
        <a href="{% url 'index' %}">Home</a>
    {% endif %}
    {% if request.user.is_seller %}
        <li>Sales
            <a href="{% url 'sales_register' %}">Register</a>
            <a href="{% url 'sales' %}">List</a>
            <a href="{% url 'sales_objective_history' %}">Sales Objectives</a>
        </li>
        <li>Customers
            <a href="{% url 'create_customer' %}">Create</a>
            <a href="{% url 'seller_customers' %}">List</a>
        </li>
    {% elif request.user.is_supervisor %}
        <li>Users
            <a href="{% url 'sellers_overview' %}">Sellers</a>
        </li>
        <li>Customers
            <a href="{% url 'create_customer' %}">Create</a>
            <a href="{% url 'seller_customers' %}">List</a>

        </li>
        <li>Sales
            <a href="{% url 'sales' %}">List</a>
            <a href="{% url 'sales_objective_create' %}">Assign Sales Objective</a>
            <a href="{% url 'sales_objective_history' %}">Sales Objective History</a>
        </li>
    {% elif request.user.is_companyadmin %}
        <li>Users
            <a href="{% url 'sellers_overview' %}">Sellers</a>
            <a href="{% url 'supervisors_overview' %}">Supervisors</a>
        </li>
        <a href="{% url 'company_information' %}">Company Information</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'user_profile' user.id %}" >My Profile</a>
        <a href="{% url 'logout'%}">Logout</a>
    {% else %}
        <a href="{% url 'login'%}">Login</a>
    {% endif %}
</div>

<div id="main">
    <div style="margin:2%;">
        <button class="openbtn" onclick="openNav()">☰ SOBAPP | Sales Objective Management</button>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin:2%;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>

</body>
</html>
