{% extends "base_generic.html" %}

{% block content %}
    <h1 class="fstyle">Contact us</h1>
    <h4 class="fstyle">If you want to start using Sobapp, please fill the following form and we'll come back to you as
        soon as
        possible</h4>
    <div class="fstyle">
        <form action="/contact_us/" method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>{{ form.company_name.label }}</td>
                        <td>{{ form.company_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.contact_name.label }}</td>
                        <td>{{ form.contact_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.contact_email.label }}</td>
                        <td>{{ form.contact_email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.contact_phone.label }}</td>
                        <td>{{ form.contact_phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.message.label }}</td>
                        <td>{{ form.message }}</td>
                    </tr>
                </table>
            </div>
            <input class="btn btn-dark confirm-save" type="submit" value="Send"/>
        </form>
    </div>
{% endblock %}