{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}
    {% if unauthorized %}
        <h1>Unauthorized!</h1>

    {% else %}

        <h1>Home page</h1>

{#        <p>Welcome to the home page.</p>#}
{##}
{#        <p><strong>User: </strong> {{ request.user }}</p>#}
{#        <p><strong>Name: </strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>#}
{#        <p><strong>Company: </strong> {{ request.user.company }}</p>#}
{#        <p><strong>Last Login: </strong> {{ request.user.last_login }}</p>#}

{#        <hr>#}

        {% if request.user.is_seller %}

            <br>
            <h4>Current Month Summary</h4><br>
            <p><strong>Sales: </strong> {{ current_month_sales_count }}</p>
            <p><strong>Sales Amount: </strong> {{ current_month_sales_amount|intcomma }}</p>
            <p><strong>Sales Objective: </strong> {{ current_month_sales_objective|intcomma }}</p>
            <br><br>

            {% if sales_list %}

                <div class="table-responsive">
                    <table class="table">
                        {#                <table border="1" border-collapse="collapse">#}
                        <tr>
                            <td><strong>Reference</strong></td>
                            <td><strong>Customer</strong></td>
                            <td><strong>Amount</strong></td>
                            <td><strong>Date</strong></td>
                            <td><strong>Seller</strong></td>
                        </tr>
                        {% for sale in sales_list %}
                            <tr>
                                <td> <a href="{{ sale.get_absolute_url }}"> {{ sale.reference }} </a></td>
                                <td>{{ sale.customer }}</td>
                                <td>{{ sale.amount|intcomma  }}</td>
                                <td>{{ sale.sale_date }}</td>
                                <td>{{ sale.seller }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

        {% endif %}

    {% endif %}

    <br>

    {% if request.user.is_supervisor %}
        {% if sellers_list %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Email</strong></td>
                        <td><strong>Username</strong></td>
                        <td><strong>Phone</strong></td>
                        <td><strong>Date Joined</strong></td>
                        <td><strong>Is Active</strong></td>
                        <td><strong>Current Sales Amount</strong></td>
                        <td><strong>Current Sales Objective</strong></td>
                    </tr>
                    {% for seller in sellers_list %}
                        <tr>
                            <td>{{ seller.first_name }} {{ seller.last_name }}</td>
                            <td><a href="{{ seller.get_absolute_url }}">{{ seller.email }}</a></td>
                            <td>{{ seller.username }}</td>
                            <td>{{ seller.phone }}</td>
                            <td>{{ seller.date_joined }}</td>
                            {% if seller.is_active %}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                            <td>{{ seller.current_month_sales_amount|intcomma }}</td>
                            <td>{{ seller.current_month_sales_objective|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}