{% extends "base_generic.html" %}

{% block content %}
    <h1 class="fstyle">Almost done!</h1>
    <h3 class="fstyle">Your contact request has been sent. One of our agents will contact you soon!</h3>
{% endblock %}