{% extends "base_generic.html" %}

{% block content %}

    <h1>My Profile</h1>
    <br/><br/>

    <form action="/user_profile/{{ pk }}" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td> <a href="{% url 'change_password' %}">Change Password</a></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <input class="confirm-save btn btn-dark" type="submit" value="Save">
    </form>
    {{ form.media }}
{% endblock %}