{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}

    <h1>Sellers List</h1>
    <br><br>

    <input class="btn btn-dark" type="button" onclick="window.location.href = '{% url 'sellers_create' %}';" value="Add New Seller"/>

    <br/><br/>

    {% if sellers_list %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><strong>First Name</strong></td>
                    <td><strong>Last Name</strong></td>
                    <td><strong>Email</strong></td>
                    <td><strong>Phone</strong></td>
                    <td><strong>Is active</strong></td>
                </tr>
                {% for seller in sellers_list %}
                    <tr>

                        <td>{{ seller.first_name }}</td>
                        <td>{{ seller.last_name }}</td>
                        <td><a href="{{ seller.get_absolute_url }}">{{ seller.email }}</a></td>
                        <td>{{ seller.phone }}</td>
                        {% if seller.is_active %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}

{% endblock %}

