{% extends "base_generic.html" %}

{% block content %}
    <h1>Create Supervisor</h1>

    <form action="/supervisors_create/" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        <input class="btn btn-dark confirm-save" type="submit" value="Save" />
    </form>
    {% if error_message %}
        <script>
            alert('{{ error_message }}');
        </script>
    {% endif %}
    {{ form.media }}
{% endblock %}