{% extends "base_generic.html" %}

{% block content %}

    <h1>Edit User</h1>
    <br><br>

    <form action="/supervisors/{{ pk }}" method="POST">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                    {% if form.errors %}
                        <td style="vertical-align: top" rowspan="5">
                            {{ form.errors.as_ul }}
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>{{ form.is_active.label_tag }}</td>
                    <td>{{ form.is_active }}</td>
                </tr>
            </table>
        </div>
        <br><br>
        <input class="confirm-save" type="submit" value="Save">
        <br><br>
        <input class="confirm-delete" type="button" onclick="window.location.href = '{% url 'user_hard_delete' pk %}';" value="Delete"/>
    </form>
    {{ form.media }}
{% endblock %}