{% extends "base_generic.html" %}

{% block content %}
    {% load humanize %}

    <h1>Supervisors List</h1>
    <br><br>

    <input class="btn btn-dark"  type="button" onclick="window.location.href = '{% url 'supervisors_create' %}';" value="Add New Supervisor"/>

    <br/><br/>

    {% if supervisors_list %}

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><strong>First Name</strong></td>
                    <td><strong>Last Name</strong></td>
                    <td><strong>Email</strong></td>
                    <td><strong>Phone</strong></td>
                    <td><strong>Is active</strong></td>
                </tr>
                {% for supervisor in supervisors_list %}
                    <tr>

                        <td>{{ supervisor.first_name }}</td>
                        <td>{{ supervisor.last_name }}</td>
                        <td><a href="{{ supervisor.get_absolute_url }}">{{ supervisor.email }}</a></td>
                        <td>{{ supervisor.phone }}</td>
                        {% if supervisor.is_active %}
                            <td align="center">Yes</td>
                        {% else %}
                            <td align="center">No</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    </table>

{% endblock %}

